<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /fabrica/capacitaciones/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /fabrica/capacitaciones/index.html [L]
</IfModule>
